.catalog {
  @include grid;
  gap: 48px;
  grid-template-columns: repeat(1, $card-width);

  @media screen and (min-width: 488px) {
    & {
      @include response (2);
    }
  }

  @media screen and (min-width: 768px) {
    & {
      @include response (3);
    }
  }

  @media screen and (min-width: 1024px) {
    & {
      @include response (4);
    }
  }

  &__card {
    @include grid;
    width: $card-width;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
